{% extends "../layouts/base.html.twig" %}

{% block title %}
	<p>Page d'accueil Bienvenue, {{ user.firstName }}</p>
{% endblock %}

{% block main %}
	<main>
		<section>
			<div>
				<h2>Ajout d'un ordinateur</h2>
			</div>
			<div>
				<form action="/addOrdinateur" method="post">
					<div>
						<label for="adressMac">Adresse Mac de votre Ordinateur</label>
						<input id="adressMac" type="text" name="adressMac" value="{% if ordinateur %}{{ ordinateur.adressMac }}{% endif %}" required>
					</div>
					<div>
						<button type="submit">Ajouter</button>
					</div>
				</form>
			</div>
		</section>

		{% if ordinateurs|length > 0 %}
			<section>
				<h2>Liste des ordinateurs</h2>
				{% for ordinateur in ordinateurs %}
					<div>
						<h3>Adresse MAC : {{ ordinateur.adressMac }}</h3>
						<a href="/ordinateur/{{ ordinateur.id }}">Voir l'employé(e) associé</a>
						<a href="/deleteOrdinateur/{{ ordinateur.id }}">Supprimer</a>
					</div>
				{% endfor %}
			</section>
		{% else %}
			<p>Aucun ordinateur n'est encore ajouté.</p>
		{% endif %}
	</main>
{% endblock %}
